/*!
  Based on a11y themes by @ericwbailey

  https://github.com/ericwbailey/a11y-syntax-highlighting
*/

.highlight {
  overflow-x: scroll;
  display: block;
  margin-bottom: var(--bulma-content-block-margin-bottom);

  --hljs-text-color: #f8f8f2;
  --hljs-comment-color: #d4d0ab;
  --hljs-variable-color: #ffa07a;
  --hljs-number-color: #f5ab35;
  --hljs-attribute-color: #ffd700;
  --hljs-string-color: #abe338;
  --hljs-title-color: #00e0e0;
  --hljs-keyword-color: #dcc6e0;
}

@media (prefers-color-scheme: light) {
  .highlight {
    --hljs-background-color: var(--bulma-white-ter);
    --hljs-text-color: #545454;
    --hljs-comment-color: #696969;
    --hljs-variable-color: #d91e18;
    --hljs-number-color: #aa5d00;
    --hljs-attribute-color: #aa5d00;
    --hljs-string-color: #008000;
    --hljs-title-color: #007faa;
    --hljs-keyword-color: #8028a1;
  }
}

.highlight {
  background: var(--hljs-background-color);
}

.highlight table .code pre,
.highlight table .gutter pre {
  background-color: transparent;
  color: var(--hljs-text-color);
}

.highlight table td {
  padding: 0;
}

.highlight table .gutter pre {
  padding: 1rem;
  text-align: right;
}

.highlight table .code pre {
  padding: 1rem 1rem 1rem 0;
}

/* Comment */
.hljs-comment,
.hljs-quote {
  color: var(--hljs-comment-color);
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--hljs-variable-color);
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--hljs-number-color);
}

/* Yellow */
.hljs-attribute {
  color: var(--hljs-attribute-color);
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--hljs-string-color);
}

/* Blue */
.hljs-title,
.hljs-section {
  color: var(--hljs-title-color);
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: var(--hljs-keyword-color);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {

  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: highlight;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .hexo-page .highlight {
    max-width: calc(100vw - 30vw);
  }
}

@media screen and (min-width: 1024px) {
  .hexo-page .highlight {
    max-width: 575px;
  }
}

@media screen and (min-width: 1024px) {
  .hexo-page .highlight {
    max-width: 624px;
  }
}

@media screen and (min-width: 1216px) {
  .hexo-page .highlight {
    max-width: 768px;
  }
}

@media screen and (min-width: 1408px) {
  .hexo-page .highlight {
    max-width: 912px;
  }
}