:root {
    --bulma-body-font-size: 18px;
}

body {
    padding-top: 3rem;
}

nav.main {
    display: fixe;
}

nav.main ion-icon {
    --ionicon-stroke-width: 30px;
    color: var(--bulma-text-80);
}

nav.main ul {
    list-style: none;
}

nav.main ul li {
    margin: 1.5rem;
}

ul.has-no-bullets {
    list-style-type: none;
}

#page-info-box {
    position: fixed;
    width: 200px;
}

#page-info-box dd {
    margin-left: 0;
    margin-bottom: 1rem;
}

.hexo-page h1,
.hexo-post h1 {
    text-align: center;
}

.icon.is-medium {
    font-size: var(--bulma-icon-dimensions-medium);
}

.swagger-page #swagger_ui .swagger-ui .topbar,
.swagger-page #swagger_ui .swagger-ui .information-container .info .base-url {
    display: none;
}

.swagger-ui .info .title small pre {
    background-color: transparent;
}

.toc,
.toc-child,
.toc-item {
    list-style-type: none !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.toc-level-1 > .toc-link {
    display: none;
}

.toc-level-3 {
    margin-left: 1rem !important;
}

.toc-level-4 {
    margin-left: 1rem !important;
}

@media screen and (max-width: 768px) {
    #page-info-box {
        position: static;
        width: auto;
    }

    .hero {
        margin-right: 0;
        border-radius: 0 !important;
    }
    #try-it-out {
        margin-left: 1rem;
    }
    #page-info-box dl {
        display: flex;
        align-items: center;
    }
    #page-info-box dt {
        display: none;
    }
    #page-info-box dd {
        margin-left: 0.25em;
        flex-grow: 1;
        font-size: 1rem;
    }
    body {
        padding-top: 0;
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        margin-right: 1rem;
    }
    #try-it-out {
        margin-right: 1rem;
    }
    .columns {
        margin-left: 0;
        margin-right: 0;
    }
    nav.main ul {
        margin-top: 0.5em;
        display: flex;
        justify-content: space-between;
    }
    nav.main ul li {
        margin: 0.25rem;
    }
}

@media (prefers-color-scheme: light) {
    .message .message-body {
        color: var(--bulma-body-color);
    }
}

@media (prefers-color-scheme: dark) {
    .message.is-primary .message-header .title {
        --bulma-content-heading-color: var(--bulma-primary-dark);
    }
    .message.is-info .message-header .title {
        --bulma-content-heading-color: var(--bulma-info-dark);
    }
}
