h1 Announcements

for post in page.posts.data
  .card
    .card-content
      .columns.is-vcentered
        .column.is-narrow.has-text-centered
          .is-size-3
            = date(post.date, 'D')
            | &nbsp;
            = date(post.date, 'MMM')
          .is-size-6= date(post.date, 'YYYY')
        .column
          p.title.mb-0
            a(href='/' + post.path)= post.title
          .is-size-5= post.excerpt
