---
layout: false
---
doctype html
html
  head
    title J!XYZ
    meta(charset='utf-8')
    != favicon_tag('/img/favicon.png')
    != css(['https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css', '/css/site'])
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    != js({ type: 'module', src: 'https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js' }, { nomodule: 'nomodule', src: 'https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js', })
    != js('https://unpkg.com/jsonpath@1.1.1/jsonpath.min.js')
    != js('https://unpkg.com/marked@12.0.1/lib/marked.umd.js')
    != js('/js/home-page.js')
  body.content
    main.container
      .columns
        .column.is-narrow
          != partial('partials/navigation')
        .column
          .hero.is-small.mb-6
            .hero-body.has-text-centered
              .title!= image_tag('/img/jservice-logo-rectangular@2x.png', { class: 'hero-img' })
              .subtitle.has-text-weight-light.is-3
                b jservice.xyz:
                |
                | the world's funnest trivia API
          .columns.is-desktop
            .column
              .section.mt-0
                .title jservice.xyz is
                .subtitle a trivia API for people learning APIs
                ul.ml-0.has-no-bullets
                  li
                    | Learn how to use a Web API using one of a
                    | variety of different interactions
                    ul
                      li RESTful API
                      li GraphQL
                      li AsyncAPI (coming soon)
                  li
                    | Learn how to write APIs that use relational data in
                    | one of the languages and frameworks that J!XYZ is
                    | written in:
                    ul
                      li
                        a(href='https://nodejs.org/') Node.js
                        | &nbsp;/&nbsp;
                        a(href='https://koajs.com/') Koa
                        | &nbsp;/&nbsp;
                        a(href="https://www.prisma.io/") Prisma
                      li F# / ASP.NET Core (coming soon)
              #sponsors.section
                .title Sponsors
                .subtitle jservice.xyz costs about 1000 USD per year
                p
                  | The following people and orgranizations help sponsor the
                  | upkeep and continued development of jservice.xyz for 2024.
                  | They have our continued thanks.
                .fixed-grid.has-1-cols
                  .grid.is-row-gap-3
                    .cell
                      .media
                        figure.media-left
                          p.image.is-64x64
                            img(src='https://curtissimo.com/assets/images/social-media-logo.svg')
                        .media-content
                          p.title.is-size-5
                            a(href='https://curtissimo.com') curtissimo
                          p.subtitle.is-size-6 FDD-crafted software, ADDIE-created curricula
                p If you'd like to sponsor jservice.xyz, please email <code>sponsors@jservice.xyz</code>.
              .section
                .title Contribute
                .subtitle Create an implementation with your favorite stack
                p
                  | Head over to the repository and open up an issue that
                  | proposes the stack that you want to use to build J!XYZ.
                  | After discussion and approval, the maintainers will create
                  | a repository in the jservice.xyz group for you to create
                  | your implementation in. Once it's ready and reviewed, we'll
                  | deploy it for you!
            .column
              .message.is-primary
                .message-header
                  h2.title.mb-0 Version 2 is here!
                .message-body.is-size-5
                  p
                    | Read the Version 2 announcement
                    |
                    a(href=site.posts.data.find(x => x.title==="Version 2 Rollout").path) here
                  p
                    | Read the migration guide
                    |
                    a(href=site.posts.data.find(x => x.title==="Upgrading from Version 1").path) here.
              #try-it-out.message.is-info
                .message-header
                  h2.title.mb-0 Try it out!
                .message-body
                  p Let's get a random question and answer from the service!
                  .columns
                    .column
                      dl
                        dt.has-text-weight-bold Date
                        dd(id='game.aired') &nbsp;
                        dt.has-text-weight-bold Category
                        dd(id='category.title') &nbsp;
                        dt.has-text-weight-bold Prompt
                        dd#prompt &nbsp;
                        dt.has-text-weight-bold Answer
                        dd#answer &nbsp;
                        dt.has-text-weight-bold Value
                        dd#value &nbsp;
                    .column.is-narrow
                      button#get-a-clue.button.is-primary Get a clue!
                  p
                    | The code for this is very simple Vanilla JavaScript.
                    | Click this
                    |
                    a(href=url_for('main-page-javascript-explained')) link
                    |
                    | for an annotated version of it.
              .message.is-danger
                .message-header
                  h2.title.mb-0 Daily data purges
                .message-body
                  | Any information that you create on any of the services
                  | hosted on the jservice.xyz domain through PUT, POST, PATCH,
                  | or DELETE HTTP interactions will be purged within 24 hours
                  | of the data's creation.
              .message.is-warning
                .message-header
                  h2.title.mb-0 Is it up?
                .message-body
                  p
                    | Mayyyyybe? Here's the thing. Sometimes we take the service
                    | down on weekends and nights (US time). Because of that, you
                    | may start getting
                    |
                    a(href='https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503') 503 errors
                    |
                    | when calling the endpoints.
                  p
                    | Don't despair! You can check out the
                    |
                    a(href='/scheduled-outages') scheduled outages
                    |
                    | page to see upcoming outage times.
    != partial('partials/footer')