doctype html
html
  head
    title #{page.title} J!XYZ
    meta(charset='utf-8')
    != favicon_tag('/img/favicon.png')
    != css(['https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css', '/css/site', '/css/highlight.js.css'])
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    != js({ type: 'module', src: 'https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js' }, { nomodule: 'nomodule', src: 'https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js', })
    != js('https://unpkg.com/jsonpath@1.1.1/jsonpath.min.js')
    != js('https://unpkg.com/marked@12.0.1/lib/marked.umd.js')
    != js('/js/home-page.js')
  body.content
    main.container
      .columns.is-desktop
        .column.is-narrow
          != partial('partials/navigation')
        .column
          != body
    != partial('partials/footer')