.columns.is-flex-direction-row-reverse
  .column.is-one-quarter
    #page-info-box.block
      dl
        dt.is-size-7.title Author
        dd.subtitle= page.author
        dt.is-size-7.title Date
        dd.subtitle= date(page.date, 'D MMM YYYY')
      .is-size-6!= toc(page.content, {list_number:false})
  .column.hexo-page
    != page.content
