footer.footer.is-size-7.content.has-text-centered.mt-6
  p
    a(href="/terms-of-use") Terms of Use and Acceptable Use Policy
  p(xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/")
    a(property="dct:title" rel="cc:attributionURL" href="https://jservice.xyz") J!XYZ
    |
    | by
    |
    a(rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://curtis.schlak.com") Curtis Schlak
    | . The source code is licensed
    |
    a(href="https://opensource.org/license/MIT") MIT
    | . The Web site content is licensed under
    |
    a(href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;")
    | CC BY-SA 4.0
    |
    img(style="height:16px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1")
    img(style="height:16px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1")
    img(style="height:16px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1")
    | .
