nav.main
  ul.m-0
    li
      a(href='/')
        span.icon.is-large
          img(src='/img/favicon.png' alt='logo')
    li
      a(href='/main-page-javascript-explained' alt='Code samples')
        span.icon.is-large
          ion-icon(name="code-outline" size="large")
    li
      a(href='/documentation' alt='Documentation')
        span.icon.is-large
          ion-icon(name="document-text-outline" size="large")
    li
      a(href='/archives' alt='Announcements')
        span.icon.is-large
          ion-icon(name="glasses-outline" size="large")
    li
      a(href='/terms-of-use' alt='Terms of use')
        span.icon.is-large
          ion-icon(name="information-circle-outline" size="large")
    li
      a(href='/scheduled-outages' alt='Scheduled outages')
        span.icon.is-large
          ion-icon(name="timer-outline" size="large")
